
#### ignore all files starting with ms2_, e.g. executables, .mod, .o
src/ms2*

#### but exclude fortran source files from this ignore
!src/ms2*.F90

#### ignore doc build
doc/html
doc/latex
doc/src/literature.bib.sav

#### ECLIPSE files
.settings
.cproject
.project


### OS files
.DS_Store

